<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="DiceNDrinksApp.AndroidAppV2" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="DiceNDrinksApp" android:icon="@drawable/Icon" android:largeHeap="true" ></application>
</manifest>